.swiper-pagination-bullet {
    opacity: 1 !important;
    background: transparent !important;
}

.swiper-pagination-bullet-active div {
    position: relative;
    background-color: #310619 !important;
    border: 1px solid #310619!important;
    padding: 2px!important;
    /* transform: scale(1); */
}

.swiper-pagination-bullet-active div::after {
    content: '';
    border: 1px solid #310619!important;
    top: -3px;
    left: -2.5px;
    position: absolute;
    /* transform: translate(-50%, -50%)!important; */
    padding: 5px!important;
    /* transform: scale(2); */
    display: block;
    border-radius: 50%;
}